* {
	background-color: #272822;
	color: #F8F8F2;
}
select.dark-select{
	background-color: #343a40;
	padding:1%;
	border:none;
	color: #F5F5F0;
}

a {
	font-weight: bold;
	color:#AE81FF;
}
a:hover {
	color:#ba7cf7;;
}

p {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 20px;
  margin-bottom: .5rem;
}

.container{
	margin-bottom:2rem;
}

.page-item .page-link {
	background-color: #343a40!important;
	color: #F5F5F0!important;
}
.page-item .page-link:hover {
	background-color: #272822!important;
	color: #66D9EF!important;
}
.page-item.active .page-link{
	background-color: #007bff!important;
	color: #dddddd!important;
}
.page-item.active .page-link:hover {
	background-color: #0069d9!important;
	color: #cccccc!important;
}

.hover-underline:hover {
	text-decoration: underline;
}

#loading-indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5em;
	display: none; /* Hidden by default */
  }

.custom-select,
.form-control {
	background-color: #343a40!important;
	color: #F5F5F0!important;
}

.anime-name {
	font-weight: bold;
}

.comment {
	color:#75715E; 
}
.red {
	color:#F92672; 
}
.orange {
	color:#FD971F; 
}
.lightorange {
	color:#E69F66; 
}
.yellow {
	color:#E6DB74; 
}
.green {
	color:#A6E22E; 
}
.blue {
	color:#66D9EF; 
}
.purple {
	color:#AE81FF; 
}
.lightpurple{
	color:#ba7cf7;
}